
/*
.delius-regular {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}

.delius-regular-p {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
}
*/

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
}

.montserrat-p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
}

h1 {
    text-decoration: underline;
}